#naglowek{
    background-color: black;
    color: white;
    height: 120px;
    text-align: center;
    padding-top: 30px;
}

#lewy{
    background-color: #dddddd;
    color: white;
    width: 30%;
    height: 300px;
    float: left;
}

#srodek1{
    background-color: #c4c4c4;
    color: white;
    width: 40%;
    height: 150px;
    float: left;
}

#srodek2{
    background-color: #d4d4d4;
    color: white;
    width: 40%;
    height: 150px;
    float: left;
}

#prawy1{
    background-color: rgb(128, 128, 128);
    color: white;
    width: 30%;
    height: 100px;
    float: right;
}

#prawy2{
    background-color: rgb(177, 177, 177);
    color: white;
    width: 30%;
    height: 100px;
    float: right;
}

#prawy3{
    background-color: rgb(190, 189, 189);
    color: white;
    width: 30%;
    height: 100px;
    float: right;
}

#stopka{
    background-color: black;
    color: white;
    height: 150px;
    clear: both;
}
}